header {
  height: 400px;
  width: 100%;
  margin-top: 120px;
  background-color: lightblue;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
  color: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tweeter {
  margin-top: 1.0em;
}

.tweeter>div>h2 {
  font-weight: lighter;
  text-shadow: 3px 3px 3px #000000;
}

.menu {
  font-family: 'Source Sans Pro',
    sans-serif;
}

#first {
  font-weight: bold;
}

.compose-Btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* centred avatar */
img {
  justify-content: center;
  align-items: center;
}

/* moving arrow CTA --v */
#arrow-CTA {
  margin-top: 0.5rem;
}

#arrow-CTA:hover {
  position: relative;
  top: -10px;
}

/* Tablet: minimum width of 768px to maximum width of 1023px */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* no change */
}

/* Laptops / Desktops: minimum width of 1024px */
@media only screen and (min-width: 1024px) {
  header {
    margin-left: 2rem;
    margin-top: 150px;
  }
}