nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 120px;
  width: 100vw;
  z-index: 1030;
  font-family: 'Bungee',
    cursive;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav>.menu {
  font-family: 'Source Sans Pro', sans-serif;
}

#first {
  font-weight: bold;
}