form {
  display: flex;
  flex-direction: column;

}

textarea {
  outline: none;
  border: 0;
  border-bottom: 3px solid black;
  resize: none;
  color: black;
  background-color: #f4f1ec;
  font-family: 'Source Sans Pro',
    sans-serif;
  font-size: 1.0em;
  font-weight: bold;
  vertical-align: middle;
  padding-top: 0.5em;
  margin-bottom: 0.5em;
}

/* 
textarea::-webkit-input-placeholder {
  color: red;
} */

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input {
  width: 120px;
  font-family: 'Bungee',
    cursive;
  background-color: #4056A1;
  color: #FFFFFF;

}

.counter {
  font-family: 'Bungee',
    cursive;
}