/* Input error message --v */
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.isa_error {
  margin: 10px 0px;
  padding: 12px;
  border: 3px solid;
  border-radius: 0.5em;
  box-shadow: 2px 2px 5px #888;
}

.isa_error {
  color: #D8000C;
  background-color: #FFD2D2;
}

.isa_error i {
  margin: 10px 22px;
  font-size: 2em;
  vertical-align: middle;
}

form {
  display: flex;
  flex-direction: column;

}

textarea {
  outline: none;
  border: 0;
  border-bottom: 3px solid black;
  resize: none;
  color: #545149;
  background-color: #f4f1ec;
  font-family: 'Source Sans Pro',
    sans-serif;
  font-size: 1.0em;
  font-weight: bold;
  vertical-align: middle;
  padding-top: 0.5em;
  margin-bottom: 0.5em;

}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input {
  width: 120px;
  font-family: 'Bungee',
    cursive;
  background-color: #4056A1;
  color: #FFFFFF;

}

.counter {
  font-family: 'Bungee',
    cursive;
}

/* Tweet Card */
.tweet {
  border: 3px solid #545149;
  margin-top: 1.5em;
  border-radius: 0.5rem;
  padding-top: 0.5em;
  opacity: 0.7;
}

/* Tweet Header --v */
.tweet>header {
  background: none;
  color: #545149;
  height: auto;
  margin: 0;
  padding: 0;
}

.tweeter-Profile {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 1em;
  margin-right: 1em;
}

.avatar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tweeter-Name {
  font-weight: lighter;
  padding-left: 0.5em;
}

.tweeter-Handle {
  color: #C6CBE1;
  opacity: 0;
}

/* Tweet Text */
.tweet>p {
  margin: 1em;
}

/* Tweet Divider */
.tweet>hr {
  border: 2px solid #545149;
  width: 95%;
}

/* Tweet Footer --v */
.tweet>footer {
  border: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

.tweet>.when-Made {
  font-size: 10pt;
  margin-left: 3vw;
}

.tweet>.social-Media {
  margin-right: 3vw;
  vertical-align: middle;
}

.tweet>.social-Media>img {
  vertical-align: top;
}

.retweet {
  margin-left: 3px;
  margin-right: 3px;
}

/* on hover --v */
.tweet:hover {
  box-shadow: 10px 10px #C6CBE1;
  opacity: 1;
}

.tweet:hover .tweeter-Handle {
  opacity: 1;
}

p {
  word-break: break-word;
}